header, color, a, article, section, aside, footer {
    color:white;
    text-align: center;
}
 

section {
    position: absolute;   /*using absolute */
    width: 560px;
}

.sec1{
    bottom: 650px;
    height: 80px;
} 

.sec2{
    bottom: 555px;
    height: 80px;
} 

aside{
    position: absolute; /* using absolute */
    top: 90px;
    right: 64px;
}
footer {
    position: absolute; /* using absolute */
    bottom: 476px;
}